<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %> 

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="/<%=usuario.fotoPerfil%>" alt="">
                <div class="info-usuario">

                    <p><%= usuario.nombre %> </p> 
                    <a class="follow" href="">seguir</a>
                    <ul class="meta">
                        <li> publicaciones: <%= usuario.publicaciones %> </li>
                        <li> seguidores: <%= usuario.seguidores %></li>
                        <li> seguidos: <%= usuario.seguidos %></li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                <article class="post">
                    <a href="/posts/detalle/3<%= posteos.posteo2 %> ">
                        <img src="/<%= posteos.posteo %>" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="detallePost.html">
                        <img src="/<%= posteos.posteo %>" alt="">
                    </a>
                </article>
            </section>
        </div>
    </main>

    <%- include('../partials/footer') %> 
    
</body>

</html>