<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

<body>

    <main>
        <div class="post-detail container">
            <section class="center main-content post">
                <div class="info-usuario">
                    <img class="fotoPerfil" src="<%=posteo.usuario.foto%> " alt="">
                    
                    <p><a href="/users/perfil/<%=posteo.id_usuarios%>"><%=posteo.usuario.nombre %></a></p>
                </div>
                <img class="photo" src="<%=posteo.image_name%>" alt="" >
            </section>
            <section class="right">
                <h4>Comentarios</h4>
                <section class="comments">
                    <form action="/posts/addComment" method="post" class="comment-form">
                        <input type="text" class="input"name="comentario" placeholder="Agregar comentario">
                        <button type="submit">Comentar</button>
                    </form>
                    <div>
                        
                        <% for( let i = 0; i < posteo.comentario.length; i++ ) { %>
                            <article class="comment">
                                <img class="fotoPerfil"src="<%= posteo.comentario[i].usuario.foto %> " alt="">
                                <section class="content">
                                    <a class="user" href="/users/perfil/<%= posteo.comentario[i].id_usuarios %> "><%=posteo.comentario[i].usuario.nombre %></a>
                                    <span class="text"><%= posteo.comentario[i].texto_comentario %> </span>
                                </section>
                            </article>
                        <% } %>
                    </div>
                </section>
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>