<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>


<body>


    <main>
        <div class="post-detail container">
            <section class="center main-content post">
                <div class="info-usuario">
                    <img class="fotoPerfil" src="<%=post.fotoPerfil%> " alt="">
                    
                    <p><a href="/users/perfil/<%=post.id_usuario%>"><%=post.nombre %></a></p>
                </div>
                <img class="photo" src="<%=post.posteo %> " alt="" >
            </section>
            <section class="right">
                <h4>Comentarios</h4>
                <section class="comments">
                    <form action="" class="comment-form">
                        <input type="text" class="input" placeholder="Agregar comentario">
                        <button type="submit">Comentar</button>
                    </form>
                    <div>
                        
                        <% for( let i = 0; i < comentario.length; i++ ) { %>
                            <article class="comment">
                                <img class="fotoPerfil"src="<%= comentario[i].fotoPerfil %> " alt="">
                                <section class="content">
                                    <a class="user" href="/users/usuario/<%= comentario[i].id_usuario %> "><%= comentario[i].nombre%> </a>
                                    <span class="text"><%= comentario[i].comentario %> </span>
                                </section>
                            </article>
                        <% } %>
                            
                        
                        
                        
                       
                    </div>
                </section>
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>