<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>

    <main>
        <section class="center main-content">

            <article class="post">
                <% for( let i = 0; i <posteos.length; i++ ) { %>
                    <div class="info-usuario ">
                        <img src="/<%= posteos[i].posteo %>" alt="">
                        <h4>
                            <a href="/users/usuario/<%= posteos[i].id_Usuario %> "> <%= posteos[i].nombre %></a>
                        </h4>
                    </div>
                    <div class="post-body">
                        <a href="/posts/detalle/<%= posteos[i].id %> > ">
                            <img src="/<%= posteos[i].posteo2 %>" alt="">
                        </a>
                    </div>
                    <ul class="post-reacciones">
                        <li>
                            <i class="fa-regular fa-heart"></i>
                        </li>
                        <li>
                            <i class="fa-regular fa-comment"></i>
                        </li>
                    </ul>
                    <div class="post-comentarios">
                        <h4>Comentarios</h4>git
                        <ul>
                            <li>
                                <a href="detalleUsuario.ejs">Usuario</a>
                                <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi</span>
                            </li>
                            <li>
                                <a href="detalleUsuario.ejs">Usuario</a>
                                <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi</span>
                            </li>
                            <a href="detallePost.ejs">Ver más...</a>
                        </ul>
                    </div>
                    <% } %>
                </article>


            
        </section>    
    </main>

    <%- include('../partials/footer')  %> 

</body>

</html>