<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
        <% for( let i = 0; i <posteo.length; i++ ) { %>
            <article class="post">
                 
                    <div class="info-usuario ">
                        <img class="fotoPerfil" src="<%=posteo[i].foto %>" alt="">
                        <h4>
                            <a href="/users/perfil/<%=posteo[i].id_usuarios %>"><%=posteo[i].nombre %></a>
                        </h4>
                    </div>
                    <div class="post-body">
                        <a href="/posts/detalle/<%=posteo[i].id %>">
                            <!-- <img src="<%=posteo[i].image_name%>" alt=""> -->
                        </a>
                    </div>
                    <ul class="post-reacciones">
                        <li>
                            <i class="fa-regular fa-heart"></i>
                        </li>
                        <li>
                            <i class="fa-regular fa-comment"></i>
                        </li>
                    </ul>
                    <div class="post-comentarios">
                        <h4>Comentarios</h4>
                        <ul>
                            <li>
                                <a href="/users/perfil/<% posteo[i].id_usuarios%>"> <%= posteo[i].nombre %> </a>
                                <span> <%= posteo[i].texto_comentario %> </span>
                            </li>
                            <li>
                                <a href="/users/perfil/<%= posteo[i].id_usuarios%>"> <%= posteo[i].nombre %> </a>
                                <span> <%= posteo[i].texto_comentario %></span>
                            </li>
                            <a href="/posts/detalle/<%= posteo[i].id %>">Ver más...</a>
                        </ul>
                    </div>
                    
                </article>
            <% } %>
        </section>
    </main>

    <%- include('./partials/footer')  %> 

</body>

</html>