<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>


<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

    <main>
        <section class="center main-content">
           
        <% for( let i = 0; i <posteos.length; i++ ) { %>
           
            <article class="post">
                
                <% if (posteos[i].usuario.id == locals.idusuario) { %>
                    <p class="">
                        <a href="/posts/editar/<%=posteos[i].id %>">Editar producto</a>
                    </p> 
                    <p class="">
                        <a href="/posts/delete/<%=posteos[i].id %>">Eliminar producto</a>
                    </p> 
                <% } %>

                
                    <div class="info-usuario ">
                        <img class="fotoPerfil" src="/images/users/<%=posteos[i].usuario.foto %>" alt="">
                        <h4>
                            <a href="/users/perfil/<%=posteos[i].id_usuarios %>"><%=posteos[i].usuario.usuario %></a>
                        </h4>
                    </div>
                    <div class="post-body">
                        <a href="/posts/detalle/<%=posteos[i].id %>">
                            <img src="/images/users/<%= posteos[i].image_name%>" alt="">
                        </a>
                        <h4><%= posteos[i].pie_post%> </h4>
                    </div>
                    <ul class="post-reacciones">
                        <li>
                            <i class="fa-regular fa-heart"></i>
                        </li>
                        <li>
                            <i class="fa-regular fa-comment"></i>
                        </li>
                    </ul>
                    <div class="post-comentarios">
                        <h4>Comentarios</h4>
                        <ul>
                            <% for( let j = 0; j < posteos[i].comentario.length; j++ ) { %>
                            
                                <li>
                                    <a href="/users/perfil/<% posteos[i].comentario[j].id_usuarios%>"> <%= posteos[i].comentario[j].usuario.nombre %> </a>
                                    <span> <%= posteos[i].comentario[j].texto_comentario %> </span>
                                </li>
                            <% } %>

                            <a href="/posts/detalle/<%= posteos[i].id %>">Ver más...</a>
                        </ul>
                    </div>
                    
                </article>
            <% } %>
        </section>
    </main>

    <%- include('./partials/footer')  %> 

</body>

</html>