<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
        <% for( let i = 0; i <posteos.length; i++ ) { %>
            <article class="post">
                
                    <div class="info-usuario ">
                        <img class="fotoPerfil" src="<%= posteos[i].fotoPerfil %>" alt="">
                        <h4>
                            <a href="/users/perfil/<%= posteos[i].id_usuario %>"><%=posteos[i].nombre %></a>
                        </h4>
                    </div>
                    <div class="post-body">
                        <a href="/posts/detalle/<%=posteos[i].id %>">
                            <img src="<%=posteos[i].posteo%>" alt="">
                        </a>
                    </div>
                    <ul class="post-reacciones">
                        <li>
                            <i class="fa-regular fa-heart"></i>
                        </li>
                        <li>
                            <i class="fa-regular fa-comment"></i>
                        </li>
                    </ul>
                    <div class="post-comentarios">
                        <h4>Comentarios</h4>
                        <ul>
                            <li>
                                <a href="/users/perfil/<%=posteos[i].id_usuario%>"> <%= posteos[i].comentarios[0].nombre %> </a>
                                <span> <%= posteos[i].comentarios[0].comentario %> </span>
                            </li>
                            <li>
                                <a href="/users/perfil/<%=posteos[i].id_usuario%>"> <%= posteos[i].comentarios[1].nombre %> </a>
                                <span> <%= posteos[i].comentarios[1].comentario %></span>
                            </li>
                            <a href="/posts/detalle/<%= posteos[i].id %>">Ver más...</a>
                        </ul>
                    </div>
                    
                </article>
            <% } %>
        </section>
    </main>

    <%- include('./partials/footer')  %> 

</body>

</html>