<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    
    <% if (locals.nombre != undefined) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class = 'profile' src="<%=locals.foto %>" alt="" style="width:120px">
                <div class="info-usuario">

                    <p><%= usuario.nombre %> </p> 
                    <a class="follow" href="/users/editarPerfil/<%=locals.idusuario %>">Editar Perfil</a>
                    <ul class="meta">
                        <li> publicaciones: <%= usuario.posteo.length %> </li>
                        <li> seguidores: <%= usuario.mis_seguidores %></li>
                        <li> seguidos: <%= usuario.seguidos %></li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                    <% for( let i = 0; i < usuario.posteo.length; i++ ) { %>
                    <article class="post">
                        <a href="/posts/detalle/<%=usuario.posteo[i].id %> ">
                            <img src="<%=usuario.posteo[i].image_name%>" alt="">
                        </a>
                    </article>
                    <% } %>         
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %> 
    
</body>

</html>