<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="<%=usuario.fotoPerfil%>" alt="">
                <div class="info-usuario">
                    <p><%= usuario.nombre %></p> 
                    <a class="follow" href="/users/editarPerfil/0"><i class="fa-solid fa-user-gear"></i></a>
                    <ul class="meta">
                        <li>publicaciones: <%=usuario.publicaciones%></li>
                        <li>seguidores: <%=usuario.seguidores%></li>
                        <li>seguidos: <%=usuario.seguidos%></li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                <% for(let i = 0; i < posteos.length; i++){ %>
                <article class="post">
                    <a href="/posts/detalle/<%= posteos[i].id %> ">
                        <img src="<%=posteos[i].posteo %>" alt="">
                    </a>
                </article>
                <%} %>
                
               
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>