<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <% if (locals.nombre != undefined) { %>
            <%- include('./partials/headerLogueado') %>
        <% } else { %>
            <%- include('./partials/header') %>
        <% } %>
    

 
                            <main>
                                <% if (locals.errors) { %>
                                    <p class="error" style="color:red">
                                        <%= locals.errors.message %>
                                    </p>
                                    <% } %>

                                        <section class="form-login">
                                            <article class="formulario">
                                                <form action="/users/register" method="POST"
                                                    enctype="multipart/form-data">
                                                    <div class="form-group">
                                                        <label class="form-texto-arriba">Correo electrónico</label>
                                                        <input type="email" class="form-control" id="email" name="email"
                                                            aria-describedby="emailHelp"
                                                            placeholder="example@email.com">

                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-texto-arriba">Nombre de Usuario</label>
                                                        <input type="text" class="form-control" id="nombre"
                                                            name="nombre" placeholder="Creá tu nombre de usuario">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-texto-arriba">Contraseña</label>
                                                        <input type="password" class="form-control" id="contrasenia"
                                                            name="contrasenia" placeholder="***">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-texto-arriba">Fecha de nacimiento</label>
                                                        <input type="date" class="form-control" id="fechaDeNacimiento"
                                                            name="fechaDeNacimiento" placeholder="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-texto-arriba">Foto de perfil</label>
                                                        <input type="file" class="form-control" id="fotoDePerfil"
                                                            name="fotoDePerfil" placeholder="">
                                                    </div>

                                                    <button type="submit" class="btn-primary">Crear</button>
                                                </form>
                                            </article>
                                            <article class="foto-login">
                                                <img class="foto-lily" src="/images/logo.png" alt="">
                                            </article>

                                        </section>


                                        <%- include('./partials/footer') %>

    </body>

</html>