<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <% if (locals.nombre != undefined) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>


    <main>
        <section class="center main-content">
        <h1>Resultados de búsqueda</h1>
        <article>     
            <Section>
                <p>Tal vez te interesa:</p>
                <%if(locals.errorBuscador){ %>
                    <p><%=locals.errorBuscador %></p>
                <% }else{ %>
                    <% for(let i= 0; i < posts.length; i++){ %>
                        <div class="post-body">
                        <a href="/posts/detalle/<%=posts[i].dataValues.id %>">
                            <img src="<%= posts[i].dataValues.image_name%>" alt="">
                        </a>
                    </div>
                    <ul class="post-reacciones">
                        <li>
                            <i class="fa-regular fa-heart"></i>
                        </li>
                        <li>
                            <i class="fa-regular fa-comment"></i>
                        </li>
                    </ul>
                    
            <% }} %>
                <ul class="search">
                    <li><a href="/users/perfil/5">Noah Schnapp</a></li>
                    <li><a href="/users/perfil/3">Zendaya</a></li>
                    <li><a href="/users/perfil/2">Adele</a></li>
                    <li><a href="/users/perfil/4">Lady Gaga</a></li>
                    <li><a href="/users/perfil/1">Miley Cyrus</a></li>
                </ul>
            </Section>
            
        </article>
        </section>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>