  <header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <h2 class="logo"><a href="/">Celebrity-Finder</a></h2>
        </div>
  <a class="navbar-brand" href="#">Bienvenido, <%= locals.usuario  %> </a>
  <a href="/users/miPerfil/<%= locals.idusuario  %>">
    <img src="<%=locals.foto %>" alt="<%= locals.nombre %> " style="width:50px">
  </a>

<div class="navbar-center">
  <form action="/search" class="search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="search" class="search-input" name="busqueda" placeholder="Buscar...">
      <button type="submit">Buscar</button>
  </form>
</div>
<div class="navbar-right">
  <ul class="menu">
      <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
      <li><a href="/posts/agregar"><i class="fa-regular fa-square-plus"></i></a></li>
      <li><a href="/users/miPerfil/<%= locals.idusuario %> "><i class="fa-regular fa-user"></i></a></li>
      <li><a href="/users/logout" ><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
  </ul>
</div>
</nav>
</header>